* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000 url(../Style/intro.jpg) repeat 0 0;
    font-family: "Reggae One", sans-serif;
}
.home {
    margin-left: 200px;
    margin-right:40px;
    background: no-repeat;
    height: 100px;
    width: 100px;
    text-align: left;
}
.container {
    display: flex;
    width: 1200px;
    height: 1319px;
    margin: auto;
    background-color: #DB7093;
    box-shadow: 0 0 40px rgb(0 0 0 / 50%);
}
.symvol {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #000000;
}
.link {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
aside {
    width: 390px;
    height: 1319px;
    background-color: #FFB6C1;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
}
.padding {
    padding-left: 40px;
    padding-right: 40px;
}
div {
    display: block;
}
.tag {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul {
    display: block;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-decoration: none; 
}
.deto {
    color: #DB7093;
    margin-left: 17px;
}
.deta {
    color: #FFB6C1;
    margin-left: 17px;
}
.tech {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #000000;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.me {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 90px;
    padding-right: 90px;
}
.pib {
    font-family: Reggae One;
    font-size: 45px;
    line-height: 89px;
    font-weight: 700;
    color: #FFFFFF;
}
.info {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.date {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.Lr {
    font-family: Reggae One;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 20px;
}
.tect {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.menu {
    display: flex;
    text-align: center;
    width: 1200px;
    height: 120px;
    padding: 10px;
    background: #3B0B2E;
    color: #ffffff;
    margin: auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav ul li {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 20px;
}
nav ul {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}
.main-link {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #595959;
    margin-top: 40px;
    text-decoration: none;
}
.inform {
    margin: 20px;
    font-family: Reggae One;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.end {
    margin-bottom: 100px;
    margin: 20px;
    font-family: Reggae One;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: right;
}
.start {
    margin: 20px;
    font-family: Reggae One;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
img {
    width: 390px;
    height: 360px;
    background-color: #000000;
}
.doc {
    font-family: Reggae One;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}
.startb {
    margin-top: 40px;
    font-family: Reggae One;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-align: center;
}
